@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h1>Azure CLI Snippets</h1>
    <p>Learn how to use the <a href="https://docs.microsoft.com/en-us/cli/azure/overview?view=azure-cli-latest">Azure CLI</a></p>
</div>


<div class="row">
    
    @foreach (var m in Model.Snippets)
    {
        <h3>@m.Title</h3>

        <pre><code class="bash">@m.Content</code></pre>
    }

    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="http://markheath.net/post/introducing-the-azure-cli">Introducing the Azure CLI.</a></li>
            <li><a href="https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest">Installing the Azure CLI.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Queries</h2>
        <ul>
            <li><a href="http://markheath.net/post/azure-cli-queries">Using Queries with the Azure CLI</a></li>
            <li><a href="http://markheath.net/post/automate-azure-portal-with-cli">Automate away your Azure Portal using with the Azure CLI.</a></li>
            <li><a href="http://jmespath.org/">JMESPath reference</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How Tos</h2>
        <ul>
            <li><a href="http://markheath.net/post/create-configure-vm-azure-cli">Create and Configure a VM</a></li>
            <li><a href="http://markheath.net/post/manage-blob-storage-azure-cli">Manage Blob Storage</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sample Code</h2>
        <ul>
            <li><a href="https://github.com/Azure/azure-cli">Official GitHub Repo</a></li>
        </ul>
    </div>
</div>
